<%= render 'shared/page_title', title: 'Edit Recipe' %>
<%= render 'shared/errors', obj: @recipe %>
<%= render 'form' %>
<div class='row center', style='font-size:30px'>
  <%= link_to 'Back', recipe_path(@recipe) %> 
</div>