<div class="container">
  <%= render 'shared/page_title', title: 'New Recipe' %>
  <%= render 'shared/errors', obj: @recipe %>
  <%= render 'form' %>
  <div class="row center", style='font-size:30px'>
    <%= link_to 'Back', recipes_path %>
  </div>
</div>